<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Comprar un Producto</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>


	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

	  <div class="container-fluid">
	    <a class="navbar-brand" href="#">Gestión de Usuarios</a> 
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link" aria-current="page" href="/user/">Home</a>
	        </li>     	

	        <li class="nav-item"><a class="nav-link " th:href="@{/user/usuario/{id}(id=${user.id})}"  th:text="${user.nombre}"></a></li>	

	        <li class="nav-item"><a class="nav-link" th:href="mostrarProductos">Comprar</a></li>		
		
		<li class="nav-item"><a class="nav-link" th:href="@{/user/misCompras/}+${user.id}">Mis Compras</a></li>
		
		<li class="nav-item"><a class="nav-link" href="/logout">Salir</a></li>						
			

	      </ul>

	    </div>
	  </div>

	</nav>


	<section>
		<div class="container p-3">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center fs-4">
							<legend>Datos del Producto</legend>
						</div>


						<th:block th:if="${session.msg}">
							<p class="text-center fs-4 text-success">[[${session.msg}]]</p>
							<th:block th:text="${@sessionUtilityBean.removeMessageFromSession()}"></th:block>
						</th:block>

						<div class="card-body text-center">

							<form th:action="@{/user/ticket/}+${producto.id}" name="formCompra" th:object="${producto}"
								method="get">

								<div class="mb-3">
									<ul class="list-group list-group-flush">

										<li class="list-group-item">
											<h5><label>Nombre: [[${producto.nombre}]]</label></h5>
										</li>


										<li class="list-group-item">
											<h5><label>Descripcion: [[${producto.descripcion}]]</label></h5>
										</li>

										<li class="list-group-item">
											<h5><label>Precio de venta: [[${producto.precio}]]</label></h5>
										</li>

										<li class="list-group-item">
											<h5><label>Cantidad: (maximo a comprar: [[${producto.cantidad}]])</h5>
										</li>

										<input type="number" name="cantidadSolicitada" class="form-control"
											style="text-align: center" />


										<li class="list-group-item"><button
												class="btn btn-success col-md-6">Comprar</button></li>

									</ul>

								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

</body>

</html>