<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"  th:fragment="layout(content)">

<head>
	<meta charset="utf-8" />
	<title>	Pagina del Usuario</title>
<link 
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
		rel="stylesheet" 
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
		crossorigin="anonymous">
</head>

<body>
	
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="#">Gestión de Usuarios</a> 
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" href="/user/">Home</a>
	        </li>
	        	
	        <li class="nav-item"><a class="nav-link active" th:href="@{/user/usuario/{id}(id=${user.id})}"  th:text="${user.nombre}"></a></li>	

		<li class="nav-item"><a class="nav-link" th:href="mostrarProductos">Comprar</a></li>
		
		<li class="nav-item"><a class="nav-link"  href="/logout">Salir</a></li>						
			

	      </ul>

	    </div>
	  </div>
	</nav>
	
	
	
	
	
</body>
</html>